In [1]:
"""
DATATYPES:
string
list
set
tuple
dictionary
array
functions in python
"""

'\nDATATYPES:\nstring\nlist\nset\ntuple\ndictionary\narray\nfunctions in python\n'

# Strings

In [2]:
name="Anoushka"
type(name)

str

In [3]:
v='Anou'
type(name)

str

In [4]:
name[5]

'h'

In [6]:
# name[5]='h'
# Shows error as strings are immutable

In [7]:
name[-1]

'a'

In [17]:
# string slicing ANOUSHKA
print(name[6:8])
print(name[-5:-1])
# print(name[-1:-5]) --> won't print, it needs to be in opposite order
# print(name[7:3]) --> no output, reverse order
print(name[2:8:2]) # --> step 2
print(name[::2])
print(name[::])
print(name[-1::]) # prints last letter; no reverse
print(name[-1::-1]) # prints the string in reverse
print(name[-1:-5:-1])

ka
ushk
osk
Aosk
Anoushka
a
akhsuonA
akhs

In [18]:
name = name[-1::-1]
print(name)

akhsuonA

In [19]:
print(name)

akhsuonA

In [21]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [22]:
name = "anoushka"

In [23]:
name.upper()

'ANOUSHKA'

In [24]:
name

'anoushka'

In [26]:
name = name.upper()
name

'ANOUSHKA'

In [27]:
name.islower()

False

In [28]:
name.count('A')

2

In [29]:
name.find('A')

0

In [30]:
name.index('A')

0

In [31]:
name.find('A', 2)

7

In [32]:
for x in name:
    print(x)

A
N
O
U
S
H
K
A

In [33]:
help(name.join)

Help on built-in function join:

join(iterable, /) method of builtins.str instance
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [34]:
name.join('Bose')

'BANOUSHKAoANOUSHKAsANOUSHKAe'

In [35]:
name

'ANOUSHKA'

In [36]:
'.'.join(['aa', 'bb'])

'aa.bb'

In [38]:
chr(65) # char of ASCII

'A'

In [39]:
ord('A') # ASCII of char

65

In [42]:
txt = "My name is {first} {last}".format(first = "Anoushka", last = "Bose")
txt

'My name is Anoushka Bose'

In [46]:
txt = "My name is {} {}".format("Anoushka", "Bose")
txt

'My name is Anoushka Bose'

In [86]:
txt = "My name is {0} {1}".format("Anoushka", "Bose")
txt

'My name is Anoushka Bose'

In [91]:
n = "Anoushka Bose"
print(n.split())
m = "Anoushka Bose"
print(list(m))
print(type(m))

['Anoushka', 'Bose']
['A', 'n', 'o', 'u', 's', 'h', 'k', 'a', ' ', 'B', 'o', 's', 'e']
<class 'str'>

In [47]:
"""PROPERTIES:
1. Can be accessed using index
2. Ordered
3. Immutable/Unchangable
"""

'PROPERTIES:\n1. Can be accessed using index\n2. Ordered\n3. Immutable/Unchangable\n'

# List

In [48]:
l = []
type(l)

list

In [49]:
l = [1, 2, "Hello", 'jk', 12.45]
l

[1, 2, 'Hello', 'jk', 12.45]

In [50]:
len(l)

5

In [92]:
for i in range(len(l)):
    print(l[i])

1
2
88
Hi
jk
12.45
56
89
hhh

In [52]:
l[2]

'Hello'

In [53]:
l[2]='Hi'

In [54]:
l

[1, 2, 'Hi', 'jk', 12.45]

In [55]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [56]:
l.append(56)
l

[1, 2, 'Hi', 'jk', 12.45, 56]

In [57]:
l

[1, 2, 'Hi', 'jk', 12.45, 56]

In [94]:
print(l.count(2))

1

In [59]:
l.extend([89, "hhh"])
l

[1, 2, 'Hi', 'jk', 12.45, 56, 89, 'hhh']

In [60]:
l.index('Hi')

2

In [61]:
l.insert(2, 88)
l

[1, 2, 88, 'Hi', 'jk', 12.45, 56, 89, 'hhh']

In [62]:
help(l.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [63]:
help(l.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [65]:
myList = [7, 9, 5, 4]
myList.sort()
myList

[4, 5, 7, 9]

In [66]:
myList.reverse()

In [67]:
myList

[9, 7, 5, 4]

In [69]:
myList.pop(2)
myList

[9, 7, 4]

In [71]:
myList.pop()

7

In [72]:
myList

[9]

In [95]:
myList.remove(9)

ValueError: list.remove(x): x not in list

In [75]:
myList

[]

In [78]:
help(myList.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [79]:
myList = l.copy()
myList

[1, 2, 88, 'Hi', 'jk', 12.45, 56, 89, 'hhh']

In [80]:
myList.clear()

In [81]:
myList

[]

In [84]:
myList = [2, 7, 4, 5, 6]
max(myList)

7

In [85]:
min(myList)

2

In [96]:
n = str(myList)
print(n, type(n))

[2, 7, 4, 5, 6] <class 'str'>

In [ ]:
l = [1, 2, 3, 5, 6]

In [97]:
for i,j in zip(l,ll):
    print(i,j)

1 7
2 8
88 9

In [ ]:
"""PROPERTIES:
1. Ordered
2. Indexing
3. Mutable/Changable
"""